<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>File Upload</h1>
    <form id="upload-form">
        <input type="file" id="file-input" name="file" required>
        <button type="button" onclick="uploadFile()">Upload File</button>
    </form>
    <div id="result"></div>

    <script>
        function uploadFile() {
            const formData = new FormData();
            const fileInput = document.getElementById('file-input');
            formData.append('file', fileInput.files[0]);

            axios.post('http://127.0.0.1:5000/upload', formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            })
            .then(function (response) {
                document.getElementById('result').innerHTML = response.data.filepath;//'File uploaded successfully Filepath: ' + response.data.filepath;
            })
            .catch(function (error) {
                document.getElementById('result').innerHTML = 'Upload failed: ' + error.response.data.error;
            });
        }
    </script>
</body>
</html>
